/* Google Font */

@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Colores */

  --white-color: #ffffff;
  --dark-color: #252525;
  --primary-color: #111cf9; /* Azul fuerte (tu color base) */
  --secondary-color: #4a6ef5; /* Azul más claro que combina con el primary */
  --light-pink-color: #faf4f5;
  --medium-gray-color: #cccccc;

    /* Font Size */
    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.12rem;
    --font-size-l: 1.15rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.3rem;

    /* Font Weight */
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /* Border radius */
    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-circle: 50%;


    /* Site max width */ 
    --site-max-width: 1300px;

}


    * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

html {
    scroll-behavior: smooth;
}

.boton-fijo {
      position: fixed;
      bottom: 20px; /* distancia desde abajo */
      right: 20px;  /* distancia desde la derecha */
      background-color: #111cf9;
      color: white;
      border: none;
      padding: 15px 20px;
      border-radius: 50px;
      font-size: 16px;
      cursor: pointer;
      box-shadow: 0 4px 6px rgba(0,0,0,0.2);
      z-index: 1000; /* que quede encima de todo */
      transition: 0.3s ease;
}

.boton-fijo:hover {
    color: #4a6ef5;
    background-color: white;
    
}

/* style for whole site */

ul{
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

img {
    width: 100%;
}

.section-content {
    margin: 0 auto;
    padding: 0 20px;
    max-width: var(--site-max-width);
}

.section-title {
    text-align: center;
    padding: 60px 0 100px;
    text-transform: uppercase;
    font-size: var(--font-size-xl);
}

.section-title::after {
    content: "";
    width: 80px;
    height: 5px;
    display: block;
    margin: 10px auto 0;
    border-radius: var(--border-radius-s);
    background: var(--secondary-color);
}

/* navbar style */

header {
    position: fixed;
    width: 100%;
    z-index: 5;
    background: var(--white-color);
}

header .navbar {
    display: flex;
    padding: 8px;
    align-items: center;
    justify-content: space-between;
}

.navbar .nav-logo  .logoimg {
    width: 275px;
}

.navbar .nav-menu {
    display: flex;
    gap: 10px;
}

.navbar .nav-menu .nav-link {
    padding: 10px 10px;
    transition: 0.3s ease;
    color: var(--dark-color);
    font-size: var(--font-size-m);
    border-radius: var(--border-radius-m);
}

.navbar .nav-menu .nav-link:hover {
    color: var(--white-color);
    background: var(--secondary-color);      
}

.navbar  :is(#menu-close-button, #menu-open-button) {
    display: none;
}


.langbuttons .eslogo {
    width: 30px;
}

.eslogo .esimg {
    border-radius: 25%;
}

.langbuttons .uslogo {
    width: 30px;
}

.uslogo .usimg {
    border-radius: 25%;
}

/* Hero Section */

.hero-section {
    background: #BBC9FB;
    min-height: 100vh;
}

.hero-section .section-content {
    display: flex;
    align-items: center;
    min-height: 100vh;
    color: var(--dark-color);
    justify-content: space-between;
}

.hero-section .hero-details .title {
    font-size: var(--font-size-xxl);
    color: #061D6F;
}

.hero-section .hero-details .subtitle {
    margin: 1px;
    margin-top: 10px;
    max-width: 70%;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
}

.hero-section .hero-details .description {
    max-width: 70%;
    margin: 24px 0 40px;
    font-size: var(--font-size-m);
}

.hero-section .hero-details .buttons {
    display: flex;
    gap: 23px   ;
}

.hero-section .hero-details .button-order-now {
    padding: 10px 26px;
    border: 2px solid transparent;
    color: var(--white-color);
    border-radius: var(--border-radius-m);
    background: var(--secondary-color);
    font-weight: var(--font-weight-medium);
    transition: 0.3s ease;
}

.hero-section .hero-details .button-order-now:hover {
    color: var(--dark-color);
    border-color: var(--dark-color);
    background: transparent;
}

.hero-section .hero-details .button-contact-us {
    padding: 10px 26px;
    border: 2px solid transparent;
    color: var(--white-color);
    border-radius: var(--border-radius-m);
    background: var(--dark-color);
    font-weight: var(--font-weight-medium);
    transition: 0.3s ease;
    border-color: var(--white-color);
}

.hero-section .hero-details .button-contact-us:hover {
    color: var(--primary-color);
    border-color: transparent;
    background: var(--secondary-color);
}

.hero-section .hero-image-wrapper {
    max-width: 900px;
    margin-right: 30px;
}

.hero-video {
    border-radius: var(--border-radius-m);
    max-width: 600px;
}



 
.hero-section .hero-image {
    border-radius: var(--border-radius-circle);
    max-width: 900px;
}



/* About section styling*/

.about-section {
    padding: 120px 0;
    background: var(--light-pink-color);
}

.about-section .section-content {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
    
}

.about-section .about-image-wrapper .about-image {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: var(--border-radius-circle);
}

.about-section .about-details .section-title {
    padding: 0;
}

.about-section .about-details {
    max-width: 60%;
    text-align: center;
}

.about-section .about-details .text {
    line-height: 30px;
    margin: 50px 0 30px;
    text-align: center;
    font-size: var(--font-size-m);
    
    
}

.about-section .social-link-list {
    display: flex;
    gap: 25px;
    justify-content: center;
    
    
}

.about-section .social-link-list .social-link {
    color: var(--primary-color);
    font-size: var(--font-size-l);
    transition: 0.2s ease;
    margin-top: 1rem;
}

.about-section .social-link-list .social-link:hover {
    color: var(--secondary-color);
    
}

.ul-ab-list {
    font-size: var(--font-size-l);
    text-align: center;
    margin-bottom: 10px;
    color: #252525;
    padding: 15px;
}

/* Trust section */

.trust-section {
    padding: 120px 0;
    background: #adb7df;
}

.trust-section .trust-content {
    display: flex;
}

.trust-titles {
    width: 50%;
    line-height: 30px;
    margin: 50px 0 50px;
    text-align: center;
    align-content: center;
    font-size: var(--font-size-m);
    margin-left: 65px;
    margin-right: 65px;
}

.trust-title {
    margin-bottom: 80px;
}

.trust-cards {
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center;     /* Centra verticalmente si hay espacio */
  padding: 40px 0;
}

.cards-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columnas iguales */
  gap: 30px; /* Espacio entre columnas y filas */
  max-width: 900px; /* Opcional: limita el ancho total */
  width: 100%;
  justify-items: center; /* Centra cada card dentro de su columna */
}

.card {
  width: 300px;
  height: 350px;
  margin: 1rem auto;
  perspective: 1000px;
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil normal */
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
}

.card-front {
  background: white;
  border: 1px solid #e5e7eb;
}

.card-back {
  background: #BBC9FB;
  color: white;
  transform: rotateY(180deg);
  color: var(--dark-color);
  font-size: larger;
  padding: 25px;
}

.card:hover, .card.flipped {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Sombra más intensa */
    transform: translateY(-5px); /* Pequeña elevación */
}

#card1 {
      background-image: url(img/card1.png);   
}

#card2 {
      background-image: url(img/card2.png);   
}

#card3 {
      background-image: url(img/card3.png);   
}

#card4 {
      background-image: url(img/card4.png);   
}

/* Services Section */

.services-section {
    color: var(--dark-color);
    background: #BBC9FB;
    padding: 50px 0 100px;
}

.services-section .services-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 110px;
    justify-content: space-between;
}

.services-section .services-list .services-item {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% / 2 - 110px);
}



.services-section .services-list .services-item .services-image {
    max-width: 83%;
    aspect-ratio: 1;
    margin-bottom: 15px;
    object-fit: contain;
    border-radius: var(--border-radius-circle);
}

.services-section .services-list .services-item .name {
    margin: 12px 0;
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-semibold);
}

.services-section .services-list .services-item .text {
    font-size: var(--font-size-m);
}

.services-section .services-list .services-item:last-child {
            width: 100%; /* Ocupa todo el ancho disponible */
            max-width: 500px; /* Limita el ancho del ítem para que no se estire demasiado */
            margin-top: 50px; /* Separación de la fila de arriba */
            margin-left: auto; /* Centrado horizontal */
            margin-right: auto; /* Centrado horizontal */
        }

#services1 {
    background-color: #94a5e4;
}

.apply-now-btn {
    margin-top: 1.5rem;
    padding: 10px 26px;
    border: 2px solid transparent;
    color: var(--white-color);
    border-radius: var(--border-radius-m);
    background: var(--dark-color);
    font-weight: var(--font-weight-medium);
    transition: 0.3s ease;
    border-color: var(--white-color);
}

.apply-now-btn:hover {
    color: var(--primary-color);
    border-color: transparent;
    background: var(--secondary-color);
}

/* Testimonials sectio styling */

.testimonials-section {
    padding: 50px 0 100px;
    background: var(--light-pink-color);
}

.testimonials-section .slider-wrapper {
    overflow: hidden;
    margin: 0 60px 50px;

}

.testimonials-section .testimonial {
    user-select: none;
    display: flex;
    padding: 35px;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.testimonials-section .testimonial .user-image {
    width: 180px;
    height: 180px;
    object-fit: cover;
    margin-bottom: 50px;
    border-radius: var(--border-radius-circle);
}

.testimonials-section .testimonial .name {
    margin-bottom: 16px;
    font-size: var(--font-size-m);
}

.testimonials-section .testimonial .feedback{
    line-height: 25px;
}

.testimonials-section .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    opacity: 1;
    background: var(--secondary-color);
}

.testimonials-section .swiper-slide-button {
    margin-top: -50px;
    color: var(--secondary-color);
    transition: 0.3s ease;
}

.testimonials-section .swiper-slide-button:hover {
    color: var(--primary-color);
}

/* Gallery Section */

.oneway-botton {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    
}

.gallery-section {
    padding: 50px 0 100px;

}

.gallery-section .gallery-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.gallery-section .gallery-list .gallery-item {
    overflow: hidden;
    border-radius: var(--border-radius-s);
    width: calc(100% / 2 - 32px);  
}

.gallery-section .gallery-item .gallery-image {
    width: 100%;
    height: 100%;
    cursor: zoom-in;
    transition: 0.3s ease;
}

.gallery-section .gallery-item:hover .gallery-image {
    transform: scale(1.3);
} 

.galleryitem-title {
    font-size: var(--font-size-xxl);
    font-weight: var(--font-weight-semibold);
    text-align: center;
    margin-bottom: 25px;
}

/* videos */

.video1 {
    text-align: center;
    width: 100%;
}

/*Contact us section */

.contact-section {
    padding: 50px 0 100px;
    background: var(--light-pink-color);
}

.contact-section .section-content {
    display: flex;
    gap: 48px;
    align-items: flex-start;
    justify-content: space-between;
}

.contact-section .contact-info-list .contact-info {
    display: flex;
    gap: 20px;
    margin: 20px 0;
    align-items: center;
}

.contact-section .contact-info-list .contact-info .i {
    font-size: var(--font-size-m);
}

.contact-section .contact-form .form-input {
    width: 100%;
    height: 50px;
    padding: 0 12px;
    outline: none;
    margin-bottom: 16px;
    background: var(--white-color);
    border-radius: var(--border-radius-s);
    border: 1px solid var(--medium-gray-color);
}

.contact-section .contact-form {
    max-width: 50%;
}

.contact-section .contact-form .form-input:focus{
    border-color: var(--secondary-color);
}

.contact-section .contact-form textarea.form-input {
    
    height: 100px;
    padding: 12px;
    resize: vertical;
}

.contact-section .contact-form .submit-button {
    padding: 10px 26px;
    margin-top: 10px;
    color: var(--white-color);
    font-size: var(--font-size-m);
    background: var(--primary-color);
    border-radius: var(--border-radius-m);
    font-weight: var(--font-weight-medium);
    border: 1px solid var(--primary-color);
    transition: 0.3s ease;
}

.contact-section .contact-form .submit-button:hover {
    color: var(--primary-color);
    background: transparent;
}

/* footer Stylink */

.footer-section {
    padding: 20px 0;
    background: var(--dark-color);
}

.footer-section .section-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-section :where(.copyright-text, .social-link, .policy-link) {
    color: var(--white-color);
    transition: 0.3s ease;
}

.footer-section .social-link-list {
    display: flex;
    gap: 25px;
}

.footer-section .social-link-list .social-link {
    font-size: var(--font-size-l);
}

.footer-section .social-link-list .social-link:hover,
.footer-section .policy-text .policy-link:hover {
    color: var(--secondary-color);
}

.footer-section .policy-text .separator {
    margin: 0 5px;
    color: var(--white-color);
}

/* Responsive media query code for max width 1024px */

@media screen and (max-width: 1024px) {

    .services-section .services-list {
        gap: 60px;
    }

    .services-section .services-list .services-item {
        width: calc(100% / 3 - 60px);
    }

    
    
}

/* Responsive media query code for max width 900px */

@media screen and (max-width: 900px) {

   :root {
    --font-size-m: 1rem;
    --font-size-l: 1.3rem;
    --font-size-xl: 1.5rem;
    --font-size-xxl: 1.8rem;
   }

   body.show-mobile-menu header::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.2);
   }

    .navbar :is(#menu-close-button, #menu-open-button) {
       font-size: var(--font-size-l); 
       display: block;
    }  

    .navbar #menu-close-button {
        position: absolute;
        right: 30px;
        top: 30px;
    }

    .navbar #menu-open-button {
       color: var(--dark-color);
    }

    .navbar .nav-menu {
       display: block;
       position: fixed;
       left: -300px;
       top: 0;
       width: 300px;
       height: 100%;
       display: flex;
       flex-direction: column;
       align-items: center;
       padding-top: 100px;
       background: var(--white-color);
       transition: left 0.2s ease;
    }

    body.show-mobile-menu .navbar .nav-menu {
        left: 0;
    }
    
    .navbar .nav-menu .nav-link {
        color: var(--dark-color);
        display: block;
        margin-top: 17px;
        font-size: var(--font-size-l);
    }

    .hero-video{
        display: block;
        margin: 0 auto; /* centra el video horizontalmente */
        width: 100%;
        max-width: 900px; /* limita el tamaño */
    }
    
    .hero-section .section-content  {
        gap: 50px;
        text-align: center;
        flex-direction: column-reverse;
        padding: 30px 20px 20px;
        justify-content: center;
    }

    .hero-section .hero-details :is(.subtitle, .description), 
    .about-section .about-details,
    .contact-section .contact-form{
        max-width: 100%;
    }

    .hero-section .hero-details .buttons {
        justify-content: center;
    }

    .hero-section .hero-image-wrapper {
        max-width: 270px;
        margin-right: 0;
    }

    .cards-content {
        display: grid;
        grid-template-columns: repeat(1, 1fr); /* 2 columnas iguales */
    }

    .trust-section .trust-content {
    flex-direction: column;  /* Apila los títulos y las cards verticalmente */
    align-items: center;     /* Centra el contenido horizontalmente */
    text-align: center;
     }

    .about-section .about-image-wrapper .about-image {
        width: 100%;
        height: 100%;
        max-width: 250px;
        aspect-ratio: 1;
    }

      .services-section .services-list {
        gap: 30px;
    }

    .services-section .services-list .services-item {
        width: calc(100% / 2 - 30px);
    }

    .services-section .services-list .services-item .services-image {
        max-width: 200px;
    }

    .gallery-section .gallery-list{
        gap: 30px;
    }

    .gallery-section .gallery-list .gallery-item {
        width: calc(100% / 2 - 30px);
    }

    .contact-section .section-content {
        align-items: center;
        flex-direction: column-reverse;
    }

    


}

/* Responsive media query code for max width 640px */

@media screen and (max-width:640px) {

    .services-section .services-list{
        gap: 60px;
    }
    
    .services-section .services-list .services-item,
    .gallery-section .gallery-list .gallery-item {
        width: 100%;
    }

    .testimonials-section .slider-wrapper{
        margin: none;
    }

    .testimonials-section .swiper-slide-button {
        display: none;
    }

    .footer-section .section-content {
        flex-direction: column;
        gap: 20px;
    }

    .about-section .section-content{
        flex-direction: column;
    }
}